<div class='store-container'>
  <h1 class="left">Etsy </h1>
  <span class="store-utility-icons"><i class="fa fa-refresh right"></i><i class="fa fa-times-circle-o right"></i></span>
  <div class="clear"></div>

  <!-- SOME CODE TO POPULATE ITEMS GOES HERE -->
  
  
</div>