<div class="item clearfix" ng-controller="ItemController as store" >
  <div ng-repeat="item in store.item">
    <img ng-src="{{item.img}}" />
    <span>
      <h2>{{item.name}}</h2>
      <p> Stock level: {{item.stock}}</p>
    </span>
    <div class="clear"></div>
  </div>
</div>
