<div class='store-container'>

  <span class="store-utility-icons">
    <i ng-click="updateItems(items)" class="fa fa-refresh right"></i>
    <!-- <i class="fa fa-times-circle-o right"></i> -->
  </span>
  
  <h1 class="left">Amazon</h1>
  <div class="clear"></div>

  <div ng-repeat="item in amazonItems"> 
    <img ng-src="http:{{item.image}}" width="50px" height="50px" />
    
    <h3>{{item.name}}</h3>
    <p> Stock level: {{item.stock}}</p>

    <div class="clear"></div>
  </div>
</div>