<div class="row collapse" ng-controller="ItemController"> 
  <div class="large-3 columns">
    <div inventory-container></div>
  </div>
  <div class="large-3 columns etsy-container">
    <div etsy-container></div>
  </div>
  <div class="large-3 columns">
    <div amazon-container></div>
  </div>
  <div class="large-3 columns">
    <div ebay-container></div>
  </div>
</div>

<div ng-controller="AuthoCtrl">
  <!-- <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
  <modal-dialog show='modalShown' width='750px' height='60%'>
    <ul> 
      <li>Add Etsy <button ng-click='goEtsy()'>Connect</button></li>
      <li>Add Amazon <button ng-click='goAmazon()'>Connect</button></li>
      <li>Add Ebay <button ng-click='goEbay()'>Connect</button></li>
      <button ng-click='hideModal()'>Finished</button>
    </ul>
  </modal-dialog>
</div>

<!-- <div ng-hide="showmod">
    <div class="modal-background">
      <div id="autho-modal">
        <ul> 
          <li ui-sref=".etsy">Add Etsy <button>Connect</button></li>
          <li>Add Amazon <button>Connect</button></li>
          <li>Add Ebay <button>Connect</button></li>
          <button ng-click="showmod=false">Finished</button>
        </ul>
      </div>
    </div>
  </div>
</div>  -->