<div class="row collapse"> 
  <div class="large-4 columns etsy-container">
    <div etsy-container></div>
  </div>
  <div class="large-4 columns">
    <div amazon-container></div>
  </div>
  <div class="large-4 columns">
    <div ebay-container></div>
  </div>
</div>