<div class="row collapse" ng-controller="ItemController"> 
  <div class="large-3 columns">
    <div inventory-container></div>
  </div>
  <div class="large-3 columns etsy-container">
    <div etsy-container></div>
  </div>
  <div class="large-3 columns">
    <div amazon-container></div>
  </div>
  <div class="large-3 columns">
    <div ebay-container></div>
  </div>
</div>