<div class='store-container white'>

  <span class="store-utility-icons">
    <!-- <i class="fa fa-refresh right"></i> -->
    <!-- <i class="fa fa-times-circle-o right"></i> -->
  </span>
  
  <h1 class="store-header">Ebay</h1>
  
  <div class="item" ng-repeat="item in ebayItems"> 
    <hr />
    <img class="left" ng-src="{{item.image}}" width="50px" height="50px" />
    
    <div class="left">
      <h3>{{item.name}}</h3>
      <p> Stock level: {{item.stock}}</p>
    </div>

    <div class="clear"></div>
  </div>
</div>