<div class='store-container'>

  <span class="store-utility-icons">
    <i ng-click="updateItems(items)" class="fa fa-refresh right"></i>
    <!-- <i class="fa fa-times-circle-o right"></i> -->
  </span>
  
  <h1 class="left">Inventory</h1>
  <div class="clear"></div>
  
  <div ng-repeat="item in inventory"> 
    <img ng-src="http:{{item.image}}" />
    
    <h3>{{item.name}}</h3>
    <p> Stock level: {{item.stock}}</p>

    <form ng-submit="updateItemCount(item, newStockCount)">
      <input type="number" ng-model="newStockCount"> 
      <input type="submit">
    </form>

    <div class="clear"></div>
  </div>
</div>