<div class='store-container'>

  <span class="store-utility-icons">
    <i ng-click="updateItems(items)" class="fa fa-refresh right"></i>
    <!-- <i class="fa fa-times-circle-o right"></i> -->
  </span>
  
  <h1 class="left">Inventory</h1>
  <div class="clear"></div>
  
  <div ng-repeat="item in inventory"> 
    <!-- <img ng-src="http:{{item.image}}" width="50px" height="50px" /> -->
    <hr />
    <h3>{{item.name}}</h3>
    <p>Current stock level: {{item.stock}}</p>

    <!-- <form class="add-stock" ng-submit="updateItemCount(item, newStockCount)">
      <p>Update Stock</p>
      <input type="number" ng-model="newStockCount">
      <input type="submit">
    </form> -->

    <div class="row">
      <div class="large-12 columns">
        <form class="row collapse" ng-submit="updateItemCount(item, newStockCount)">
          <div class="small-8 columns">
            <input type="number" ng-model="newStockCount" placeholder="Update Stock">
          </div>
          <div class="small-4 columns">
            <input type="submit" class="button postfix">
            <!-- <a href="#" class="button postfix">Update</a> -->
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
