<nav class="top-bar" role="navigation"> <!-- remove data-topbar -->
  <ul class="title-area">
    <li class="name">
      <h1><img src="/images/bb-logo.png" />Buddha Bar</h1>
    </li>
    <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
  </ul>

  <section class="top-bar-section" ng-controller="LoginCtrl">
    <ul class="right">
      <li>
        <a ui-sref="dashboard">Dashboard</a>
      </li>
      <li class="pink">
        <a ui-sref="post-item">Post New Item!</a>
      </li>
      <li ng-switch="currentUser !== undefined">
        <a ng-switch-when="true" ng-click='logout()'>Logout</a>
        <a ng-switch-default href="/">Login</a>
      </li>
      <li class="has-dropdown">
        <a href=""><span ng-if="currentUser">{{ currentUser.username }}</span></a>
        <ul class="dropdown">
          <li><a href="http://google.com">Settings</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>