<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/libs/foundation/css/foundation.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="scripts/menu-select.js"></script>
  <!-- include angular here -->
  <script type="text/javascript" src="/libs/angular/angular.js"></script>
  <script type="text/javascript" src="/libs/modernizr/modernizr.js"></script>
  <script type="text/javascript" src="/libs/angular-resources.js"></script>
  <script type="text/javascript" src="/libs/angular-ui-router.js"></script>

  <!-- remove -->
  <script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>


  <script type="text/javascript" src="/angularApp.js"></script>
  <script type="text/javascript" src="/resources/item.js"></script>
   

</head>

<body ng-controller="ApplicationController">

    <div topbar></div>
    <div ui-view></div>

</body>
</html>

