<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/libs/foundation/css/foundation.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- include angular here -->
  <script type="text/javascript" src="/libs/angular/angular.js"></script>
  <script type="text/javascript" src="/libs/modernizr/modernizr.js"></script>
  <script type="text/javascript" src="/libs/angular-resources.js"></script>
  <script type="text/javascript" src="/angularApp.js"></script>
  <script type="text/javascript" src="/resources/item.js"></script>

</head>

<body>

  <% include partials/topbar %>
  <div class="row collapse">
    <div class="large-4 columns etsy-container">
      <% include partials/etsy-container %>
    </div>
    <div class="large-4 columns">
      <% include partials/amazon-container %>
    </div>
    <div class="large-4 columns">
      <% include partials/ebay-container %>

    </div>
  </div>

  <section class='store-select'>
    <div class="wrapper-checkbox">
    <h1>Where would you like to post?</h1>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Etsy</span>
      </div>
    </div>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Amazon</span>
      </div>
    </div>

    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>  
      </div>
      <div class="text"> 
        <span>Ebay</span>
      </div>
    </div>
    
    <div class="submit">
      <div class="text">
        <span>Add item to these stores</span>
      </div>
    </div>
  </div>
</section>  


</body>
</html>



  <!-- <script src="/libs/angular-route/angular-route.js"></script>
  <script src="/services.js"></script>
  <script src="/controllers.js"></script>
  <script src="/filters.js"></script>
  <script src="/directives.js"></script> -->

  <!-- <script src="/modules/items/items.js"></script>
  <script src="/modules/shops/shops.js"></script>
  <script src="/modules/users/users.js"></script>
  <script src="/modules/storeitem/storeitem.js"></script> -->
