body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* ==== TOP BAR/NAV ===== */
.top-bar {
  background-color: #063C54;
  height: 70px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 70px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fafafa;
  color: #000;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 70px;
  background-color: #fff;
  color: #000;
}

.top-bar .name h1 {
  color: #363636;
  font-size: 2em;
}

.top-bar-section ul li.pink:not(.has-form) a:not(.button) {
  background-color: #fa3c45;
  color: #fff;
}

.top-bar-section ul li.pink:not(.has-form) a:not(.button):hover {
  background-color: #ed2533;
} 

/*.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #fa3c45;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background-color: #ed2533;
}*/

.top-bar-section ul li > a {
  font-size: 1em;
}

.top-bar .name h1 {
  color: #fff;
  padding-left: 15px;
}
.top-bar .name img {
  padding-right: 20px;
}


/* ==== TOP BAR/NAV ===== */

.etsy-container {
  /*background-color: #000;*/
}

.store-utility-icons {
  font-size: 2em;
}

.fa-refresh {
  margin-left: 10px;
}

.store-container {
  height: 91vh;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  /*border-radius: 7px;*/
  width: 100%;
  margin: 0;
  padding: 20px;
}

.store-container h1 {
  text-align: center;
  width: 100%;
  font-weight: 100;
  margin-bottom: 20px;
}

.row {
  max-width: 100%;
}

.clear {
  clear: both;
}

/* ====== item ========= */

.item img {
  margin-right: 15px;
  float: left;
  margin-bottom: 20px;
  width: 80px;
}
p.ng-binding {
  margin-bottom: 0;
  float: left;
  width: 80%;
}

h3.ng-binding {
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}


/*
/*========= Store Select =============*/

/* may want to add back */
/*.store-select {
  background: #063C54;
  color: #777e86;
  width: 100%;
  height: 91vh;
}*/

.wrapper-checkbox {
  float: left;
  width: 300px;
  margin-left:  20px;
  /*margin: 0 auto;*/
  padding-top: 50px;
  padding-bottom: 50px;
}

.store-select h2 {
  color: #fff;
  font-weight: 200;
  font-size: 2em;
}
/*
h1 {
  font-size: 2em;
}

h2 {
  font-size: 0.9em;
}*/


/*section {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}
@media (max-width: 1600px) {
  section {
    width: 50%;
  }
}
@media (max-width: 1250px) {
  section {
    width: 70%;
  }
}
@media (max-width: 850px) {
  section {
    width: 90%;
  }
}*/

.checkbox {
  height: 60px;
  width: 100%;
  position: relative;
  background: #eee; /*F7F7F5*/
  display: inline-block;
  margin: 15px 2% 15px;
  border-radius: 2px;
  /*box-shadow: 0px 0px 0 1px #252730;*/
  cursor: pointer;
  border-radius: 7px;
}
@media (max-width: 850px) {
  .checkbox {
    width: 80%;
  }
}
.checkbox:hover {
  background: #fff;
}

.figure-container {
  width: 20%;
  height: 100%;
  float: left;
  padding-top: 5px ;
  padding-left: 25px;
}
@media (max-width: 450px) {
  .figure-container {
    width: 30%;
  }
}
.figure-container .figure {
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text {
  width: 80%;
  height: 100%;
  /*margin-left: 20%;*/
  text-align: center;
  position: relative;
  padding-top: 20px;
  font-size: 20px;
}
@media (max-width: 450px) {
  .text {
    width: 70%;
    margin-left: 30%;
  }
}

.submit {
  /*width: 60%;*/
  height: 60px;
  margin: 30px auto;
  background: #7fa583;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
.submit .text {
  width: 100%;
  height: 100%;
  margin: 0;
  /*padding: 20px;*/
  text-align: center;
}
.submit .text span {
  text-align: center;
  
}
.submit:hover {
  background: #30c076;
}

.clicked {
  background: url("/images/done-icon.png") !important;
  background-size: cover;
  
}

/*[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 2.3em;
  line-height: 50px;
}*/


/* ====== esty form ========== */

.postform {
  float: left;
  margin-left: 90px;
  margin-top: 90px;
}

/* ======== Modal +++++++++*/

#autho-modal {
    position: fixed;
    min-height: 350px;
    min-width: 500px;
    top: 50%;
    left: 50%;
    z-index: 101;
    background: #fff;
    text-align: center;
    border-radius: 3px;
    margin-left: -250px;
    margin-top: -175px;
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0;
    filter: blur(5px);

}

/* ========== Login ==============*/

.wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#login form input {
  height: 50px;
  font-size: 1em;
  width: 230px;
  padding-left: 15px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 230px;
}

#login form input[type="submit"]:hover {
  /*background-color: #B44E4A;*/
}


/* 
stolen mod
*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}