body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.nav {
  width: 100%;
  background-color: blue;
  height: 83px;
/*  top: 0;
  left: 0;
  padding: 0;
  width: 100%;*/

.top-bar {
  /*background-color: #fff;*/
  background-color: #063C54;
  height: 70px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 70px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 70px;
  background-color: #fff;
  color: #000;
}

.top-bar .name h1 {
  color: #363636;
  font-size: 2em;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #fa3c45;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background-color: #ed2533;
}

.top-bar-section ul li > a {
  font-size: 1em;
}

.top-bar .name h1 {
  color: #fff;
  padding-left: 15px;
}
.top-bar .name img {
  padding-right: 20px;
}
/*
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav li {
  float: left;
}

li:first-child {
  margin-right: 400px;
}

li:last-child {
  margin-left: 30%;
}*/

.clear {
  clear: both;
}