<form ng-show="post.isSet(1)" class="postform">
  <h1>Etsy Form</h1>

  <div class="select-group" id="who-made">
    <h4>Who made it?</h4>           
      <select name="property[whomade]">
        <option value="">Select a maker...</option>
        <option value="1" >I did</option>
        <option value="2" >A member of my shop</option>
        <option value="3" >Another company or person</option>
    </select>
  </div>

  <div id="categories-container" class="clear">
    <label for="categories">Categories</label>
    <input type="hidden" name="property[category]" value=""/>
    <div class="select-group" id="category-selector-1" data-category-depth="1">
      <h4>What is it?</h4>
      <select name="category-selector-select-1">
        <option value="">Select a category...</option>
        <option data-children="27" value="69150467">Accessories</option>
        <option data-children="12" value="68887312">Art</option>
        <option data-children="12" value="69150455">Bags and Purses</option>
        <option data-children="13" value="68887336">Bath and Beauty</option>
        <option data-children="6" value="69150385">Books and Zines</option>
        <option data-children="16" value="69150375">Candles</option>
        <option data-children="19" value="69150451">Ceramics and Pottery</option>
        <option data-children="10" value="69150405">Children</option>
        <option data-children="26" value="69150353">Clothing</option>
        <option data-children="11" value="69150341">Crochet</option>
        <option data-children="18" value="69150415">Dolls and Miniatures</option>
        <option data-children="10" value="68887416">Everything Else</option>
        <option data-children="12" value="68887430">Furniture</option>
        <option data-children="17" value="69150359">Geekery</option>
        <option data-children="21" value="69150361">Glass</option>
        <option data-children="11" value="68887366">Holidays</option>
        <option data-children="25" value="69150425">Housewares</option>
        <option data-children="8" value="68887482">Jewelry</option>
        <option data-children="16" value="68887400">Knitting</option>
        <option data-children="10" value="68887460">Music</option>
        <option data-children="13" value="68887406">Needlecraft</option>
        <option data-children="14" value="69150367">Paper Goods</option>
        <option data-children="17" value="68887486">Patterns</option>
        <option data-children="20" value="68887434">Pets</option>
        <option data-children="13" value="68887346">Plants and Edibles</option>
        <option data-children="15" value="68887502">Quilts</option>
        <option data-children="10" value="69150433">Supplies</option>
        <option data-children="16" value="69150393">Toys</option>
        <option data-children="15" value="69150437">Vintage</option>
        <option data-children="20" value="68887494">Weddings</option>
        <option data-children="22" value="68887388">Woodworking</option>
      </select>
    </div>
  </div>

  <div class="input-group clear retail-only-input" id="item-type-container">
    <label>Item type</label>
    <div class="listing-type select-group">  
      <div id="listing-type-controls">
      <input id="listing-type-physical" type="radio" name="property[listing_type]"  checked="checked"  value="0">
      <label for="listing-type-physical">Physical item</label>

      <input id="listing-type-digital" type="radio" name="property[listing_type]"  value="1">
      <label for="listing-type-digital">Digital file</label>
    </div>
  </div>

  <div class="input-group input-group-photos  clear">
    <p class="last">Listings look best with photos at least 570px wide. We recommend replacing the highlighted photos below.</p>

    <div id="photos">
      <label id="photos-label" for="photos">Photos</label>
      <div class="photo-inputs">
        <ul class="rearrange-container error-insert-point">
          <li class="image-box add">
            <div>
              <div class="upload-container">
                <input type="file" name="image-upload" id="image-upload" class="image-upload" multiple="multiple">
              </div>
              <div class="add-photos-button">
                <span class="button-add"></span>
                <span>Add Photos</span>
              </div>
            </div>
          </li>
        </ul>
        <p>Convey the shape, size, color, and texture. Try to use natural light and include a great close up.</p>
      </div>
    </div>
  </div>

  <div class="title-row">
    <label for="title-parent">Item Title</label>
    <p class="inline-message ">Descriptive titles are best. Try to describe your item the way a buyer would.</p>
    <input type="test">
  </div>

  <div class="title-row">
    <label for="description-parent">Description</label>
    <p class="inline-message">Try to answer the questions buyers will have. Tell the item's story and explain why it's special.</p>
        
    <label for="item-description-en-US"></label>
    <textarea name="listing[description]"class="text description  primary"id="item-description-en-US"data-language="en-US"></textarea>
  </div>

  <div data-variation="property[recipient]" class="input-group clear" id="recipient">
    <div class="msg msg-alt msg-inline" data-notice-key="ors-tips-7-26-11">
      <p><strong>We're going to use these new attributes soon to help buyers find your item.</strong></p>
      <p>If you currently use tags for recipient, occasion, or style you should continue to add those tags.</p>
      <span class="arrow arrow-b"></span>
    </div>
        
    <label for="recipient">Recipient</label>
    <div class="select-group">
      <h4>Who is it for? <span class="optional">optional</span></h4>
      <select name="property[recipient]">
        <option value="">Select a recipient...</option>
        <option value="266817085" >Babies</option>
        <option value="266817081" >Baby Boys</option>
        <option value="266817083" >Baby Girls</option>
        <option value="266817087" >Birds</option>
        <option value="266817073" >Boys</option>
        <option value="301958802" >Cats</option>
        <option value="266817079" >Children</option>
        <option value="301959052" >Dogs</option>
        <option value="266817077" >Girls</option>
        <option value="266817059" >Men</option>
        <option value="301959242" >Pets</option>
        <option value="266817067" >Teen Boys</option>
        <option value="266817069" >Teen Girls</option>
        <option value="266817071" >Teens</option>
        <option value="266817065" >Unisex Adults</option>
        <option value="266817061" >Women</option>
      </select>
      <a class="overlay-trigger" href="" rel="#recipient-help">What if my item is for everyone?</a>
    </div>
  </div>


  
</form>

<!-- 
<div class="row">
    <div class="large-12 columns">
      <h3> About this Item </h3>
      <label>Who made it?
        <select placeholder="Select a maker">
          <option value="husker">I did</option>
          <option value="starbuck">A member of my shop</option>
          <option value="hotdog">Another company or person</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      
      <label>
        <input type="text" placeholder="large-12.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Input Label</label>
        <div class="small-9 columns">
          <input type="text" placeholder="small-9.columns" />
        </div>
        <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
    <div class="large-6 columns">
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div> -->