<div class='store-container'>

  <span class="store-utility-icons"><i class="fa fa-refresh right"></i><i class="fa fa-times-circle-o right"></i></span>
  <h1 class="left">Etsy </h1>
  <div class="clear"></div>
  <div item></div>
  
</div>