<div class="item clearfix" ng-controller="ItemController">
  <div ng-repeat="item in items"> 
    <img ng-src="http:{{item.image}}" />
    <!-- <p>"http:{{item.image}}"</p> -->
    <h3>{{item.name}}</h3>
    <p> Stock level: {{item.stock}}</p>
    <div class="clear"></div>
  </div>
</div>
