 <section class='store-select' ng-show="tab.isSet(2)">
    <div class="wrapper-checkbox">
    <h1>Select Stores</h1>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Etsy</span>
      </div>
    </div>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Amazon</span>
      </div>
    </div>

    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>  
      </div>
      <div class="text"> 
        <span>Ebay</span>
      </div>
    </div>
    
    <div class="submit">
      <div class="text">
        <span>Add</span>
      </div>
    </div>
  </div>
</section> 