<section class='store-select' ng-show="tab.isSet(2)">
    <div class="wrapper-checkbox">
    <h2>Select Stores</h2>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Etsy</span>
      </div>
    </div>
    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>
      </div>
      <div class="text">
        <span>Amazon</span>
      </div>
    </div>

    <div class="checkbox">
      <div class="figure-container">
        <div class="figure face"></div>  
      </div>
      <div class="text"> 
        <span>Ebay</span>
      </div>
    </div>
    
    <div class="submit">
      <div class="text">
        <span>Add</span>
      </div>
    </div>
  </div>
</section> 

<script>
  $('.checkbox').on('click', function(){
    
    if($(this).find('.figure-container div').hasClass('clicked')){
      $(this).find('.figure-container div').removeClass('clicked').animate('slow'); 
    } else {
      $(this).find('.figure-container div').addClass('clicked').animate('slow'); 
    }
    
  });

  
</script>